---
layout: default
---

<main class="col-md-8 main-content">

<!-- 标签列表 -->


<script type="text/javascript">
    var curTag = $.query.get("tag");
	{% assign name = '"+curTag+"' %}
</script>
name = {{ name }}
{% for tag in site.tags %}

	{% if tag[0] == 'Android' %}
		<div class="cover tag-cover">
			<h3 class="tag-name" id="{{ tag[0] }}">
				标签：{{ tag[0] }}
			</h3>
			<div class="post-count">
				共 {{tag.number}} 篇文章
			</div>
		</div>
		{% for post in tag %}
		<article id=92 class="post tag-about-ghost tag-release tag-ghost-0-7-ban-ben">

			<div class="post-head">
				<h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a></h1>
				<div class="post-meta">
					<span class="author">作者：<a href="../../author/wangsai/index.htm">王赛</a></span> &bull;
					<time class="post-date" >2015年9月7日</time>
				</div>
			</div>
			<div class="post-content">
				<p>Ghost 0.7.0 已经正式发布了</p>
			</div>
			<div class="post-permalink">
				<a href="#" class="btn btn-default">阅读全文</a>
			</div>

			<footer class="post-footer clearfix">
				<div class="pull-left tag-list">
					<i class="fa fa-folder-open-o"></i>
					<a href="#">Ghost</a>, <a href="../release/index.htm" >新版本发布</a>, <a href="#" >Ghost 0.7 版本</a>
				</div>
				<div class="pull-right share">
				</div>
			</footer>
		</article>
		{% endfor %}
	{% endif %}
{% endfor %}
	<article class="post page">
		<header class="post-head">
				<h1 class="post-title"  id="{{ tag[0] }}">{{ tag[0] }}</h1>
				
				<section class="post-meta">
					<span class="author"><a href=""></a></span>
				</section>
		</header>
	</article>
</main>
