<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="widget">
					<h4 class="title">最新文章</h4>
					<div class="content recent-post"></div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget">
					<h4 class="title">标签云</h4>
					<div class="content tag-cloud">
						{% for tag in site.tags %}
							<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
						{% endfor %}
						<a href="/tag">...</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget">
					<h4 class="title">合作伙伴</h4>
					<div class="content tag-cloud friend-links">
					 <!-- friends & sidebar -->
					{% if site.friends %}
						{% for friend in site.friends %}
						<a href="{{ friend.href }}" title="{{ friend.title }}" target="_blank">{{ friend.title }}</a>
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span>Copyright &copy; <a href="{{ site.url}}">{{ site.title }}</a></span> | 
				<span><a href="#" target="_blank">京ICP备XXXX号</a></span> | 
				<span>京公网安备XXXXXXXXX</span>
			</div>
		</div>
	</div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="assets/js/main.js"></script>