<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keyword"  content="{{ site.keyword }}">
    <link rel="shortcut icon" href="/assets/img/fav.ico">
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/screen.css" | prepend: site.baseurl }}"/>
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script>
    /*====================================================
      THEME SETTINGS & GLOBAL VARIABLES
    ====================================================*/
    //  1. Sidebar Position
    var sidebar_left = false; // Set true or flase for positioning sidebar on left
    //  2. Recent Post count
    var recent_post_count = 3;
    </script>
</head>