 <!-- start header -->
<header class="main-header"  style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- start logo -->
				<a class="branding" href="{{site.url}}" title="{{ site.title}}"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="{{ site.title}}"></a>
			</div>
		</div>
	</div>
</header>
<!-- end header -->
<!-- start navigation -->
<nav class="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="navbar-header">
					<span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
					</span>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="menu">
					{% if page.menu %}
						<li {% if page.menu = 'class="home"' %} class="nav-current" {% endif %} role="presentation"><a href="{{site.url}}">首页</a></li>
						<li role="presentation"><a href="http://wenda.coding.io" >论坛</a></li>
						<li {% if page.menu = 'class="tags"' %} class="nav-current" {% endif %}  role="presentation"><a href="/tags" >标签</a></li>
						<li {% if page.menu = 'class="about"' %}  class="nav-current"{% endif %}   role="presentation"><a href="/about">关于</a></li>
					
					{% else %}
					{{}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
<!-- end navigation -->