 <!-- start header -->
<header class="main-header"  style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- start logo -->
				<a class="branding" href="{{site.url}}" title="{{ site.title}}"><img src="#" alt="{{ site.title}}"></a>
			</div>
		</div>
	</div>
</header>
<!-- end header -->
<!-- start navigation -->
<nav class="main-navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="navbar-header">
					<span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars"></i>
					</span>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="menu">
						<li id="menu-home" role="presentation"><a href="{{site.url}}">首页</li>
						<li id="menu-forum" role="presentation"><a href="{{}}">社区</li>
						<li id="menu-tags" role="presentation"><a href="{{site.url}}/tags">标签</li>
						<li id="menu-about" role="presentation"><a href="{{site.url}}/about">关于</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
<!-- end navigation -->

<script type="text/javascript">
	var menu = {% if page.menu %}"{{page.menu}}"{% endif %};
	if(menu=="home")
		$("#menu-home").addClass("nav-current");
	if(menu=="tags")
		$("#menu-tags").addClass("nav-current");
	if(menu=="about")
		$("#menu-about").addClass("nav-current");
</script>