<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<body class="post-template page-template page">

<!-- start header -->
<header class="main-header" ">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- start logo -->
				<a class="branding" href="{{site.url}}" title="{{site.title}}"><img src="{{site.logo}}" alt="{{site.title}}"></a>
				<!-- end logo -->
			</div>
		</div>
	</div>
</header>
<!-- end header -->

{% include nav.html %}

<section class="content-wrap">
	<div class="container">
		<div class="row">
{{ content }}
			<aside class="col-md-4 sidebar">
				<!-- start tag cloud widget -->
				<div class="widget">
					<h4 class="title">社区</h4>
					<div class="content community">
						<p>QQ:775594040</p>
						<p><a href="http://wenda.coding.io" title="" target="_blank"><i class="fa fa-comments"></i> 问答社区</a></p>
						<p><a href="#" title="" target="_blank"><i class="fa fa-weibo"></i> 官方微博</a></p>
					</div>
				</div>
				<!-- end tag cloud widget -->	

				<!-- start widget -->
				<div class="widget">
					<h4 class="title">关于我</h4>
					<div class="content">
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
					</div>
				</div>
				<!-- end widget -->	
				<!-- start tag cloud widget -->
				<div class="widget">
					<h4 class="title">标签云</h4>
					<div class="content tag-cloud">
						{% for tag in site.tags %}  
							{% if tag[1].size > 1 %}
								<a href="/tag/?tag={{ tag[0] }}" title="{{ tag[0] }}">{{ tag[0] }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<!-- end tag cloud widget -->	       
			</aside>
		</div>
	</div>
</section>
<!-- end main content -->
{% include footer.html %}

<!-- Tencent QQ Analysis -->
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=51622463" charset="UTF-8"></script>

<!-- BaiDu QQ Analysis -->
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?304f88855ff96e9e633ab81b207e9684";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>

</html>
