---
layout: default
---

<!-- start main content -->
<main class="col-md-8 main-content">
	<article class="post page">
		<header class="post-head">
			<h1 class="post-title">{{ page.title }}</h1>
			<section class="post-meta">
				<span class="author">作者：<a href="/about" >{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</a></span>
				<time class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
			</section>
		</header>
		<section class="post-content">
{{ content }}
		</section>
		<footer class="post-footer clearfix">
			<div class="pull-left tag-list">
				<i class="fa fa-folder-open-o"></i>
				{% for tag in page.tags %}
					<a href='/tag/?tag={{tag}}'> {{tag}} </a>
				{% endfor %}
			</div>
			<!-- Share start -->
			{% if site.useDuoshuo && site.useShare %}
			<div class="pull-right">
				<div class="ds-share flat" data-thread-key="{{page.id}}" data-title="{{page.title}}"data-url="{{site.url}}{{page.url}}">
				<div class="ds-share-inline">
				  <ul class="ds-share-icons-16">
					<li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
					<li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
					<li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
					<li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
					<li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
				  </ul>
				  <div class="ds-share-icons-more">
				  </div>
				</div>
			 </div>

			</div>
			{% endif %}
			<!-- Share end-->
			<!-- Duoshuo start -->
			{% if site.useDuoshuo %}
			<div class="comment">
				<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="{{site.url}}{{page.url}}"></div>
			</div>
			<!-- 多说评论框 end -->
			{% endif %}
			<!-- Duoshuo end -->
		</footer>
	</article>

	<div class="about-author clearfix">
		<a href="/about"><img src="{{site.sidebar-avatar}}" alt="{{site.title}}" class="avatar pull-left"></a>
		<div class="details">
			<div class="author">
				关于作者 <a href="/about">{{site.title}}</a>
			</div>
			<div class="meta-info">
				<span class="loaction"><i class="fa fa-home"></i>深圳</span>
				<span class="website"><i class="fa fa-globe"></i><a href="{{site.url}}" targer="_blank">个人网站/博客</a></span>
			</div>
		</div>
	</div>
</main>
<!-- end main content -->

{% if site.useDuoshuo %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"wowser"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
